


body{
    background-color: #141414;
    color:white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#centerP{
    display: flex;
    flex-direction: column;
}
.pousse{
    margin-top:50px;
}
.pousse2{
    margin-bottom:50px;
}
.pousse3{
    margin-bottom:20px;
}
.form-control{
    width: 50%;
    margin-bottom: 70px;
}
label{
    text-align: left;
    margin:0 ;
}
#padd{
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#lol,#lol2,#lol3,#lol4,#lol5,#lol6,#lol7,#lol8,#lol9,#lol10{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card{
    background-color: #343A40;
    border: #ffc107 1px solid;
}

.card:hover{
    transform: scale(1.1);
    transition: 700ms;
    cursor: pointer;
    visibility: visible;
    
}


h1{
    text-align: center;
    margin-bottom: 60px;
}

.h1{
    text-align: center;
    border-bottom: 2px #ffc107 solid;
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 90px;
    -webkit-box-shadow: 0 4px 4px 0 #ffffff54;
    -moz-box-shadow: 0 4px 4px 0 #ffffff54;
    -ms-box-shadow: 0 4px 4px 0 #ffffff54;
    -o-box-shadow: 0 4px 4px 0 #ffffff54;
    box-shadow: 0 4px 4px 0 #ffffff54;
}
.h1t{
    margin-top: 200px;
}

#terror{

    margin-top: 50px;
}

.navbar{
    border-bottom: #ffc107 1px solid;
}
#font{
    font-family: Faster;
        
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
 .form-control{
     width: 100%;
 }
 #lui {
     margin-top: 50px;
 }

}